# 二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib
convert-svc

# Go依赖文件
go.sum

# 测试二进制文件
*.test
*.tmp

# 输出目录
/storage/uploads/
/storage/converted/
/storage/archive/

# 一般忽略的文件
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE相关
.idea/
.vscode/
*.swp
*.swo 